{%extends 'base.html'%}
{%load static%}

{%block title%} Bem-vindo {%endblock title%}

{%block content%}
{%if images %}
<main class="flex justify-center gap-x-8 my-10 items-center py-4 flex-wrap w-full h-full md: grid grid-cols-3 gap-y-8 px-6">
{%for image in images%}
<a href="{% url 'detalhes' image.query image.id%}" class="imagens">
    <figure
        class="flex flex-col justify-between items-center bg-gray-800 rounded-xl border px-10 py-8 w-full">
        <img src="{{image.imagem}}" alt="{{image.atl}}" style="max-width: 300px; max-height: 300px"
            class="rounded-lg w-full h-auto">
        <figcaption class="text-lg text-center font-bold-200 py-2 text-white">{{image.alt}}</figcaption>
    </figure>
</a>
{%endfor%}
</main>
{%else%}
<section class="flex justify-center items-center p-2 w-full h-screen">
    <form action="#" method="POST" class="flex flex-col justify-center items-center bg-gray-800 p-8 rounded-2xl gap-x-5 ">
        {% csrf_token %}
        <input name="query" id="input" type="text" class="w-full border text-center rounded-xl py-4 px-2 md: my-5 w-1/2"
            placeholder="Busque a sua foto">
        <button
            class="transition ease-in-out delay-150 text-black text-xl font-semibold bg-yellow-500 px-5 py-4 rounded-xl hover:bg-yellow-300">Buscar</button>
    </form>
</section>
{%endif%}
{%endblock content%}