{%extends 'base.html'%}
{%load static%}

{%block title%} Bem-vindo {%endblock title%}

{%block content%}
<main>
    <section class="py-20">
        <div class="container mx-auto px-6">
            {%if images %}
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                {%for image in images%}
                <a href="{% url 'detalhes' image.query image.id%}">
                    <figure class="bg-gray-800 rounded-xl border px-10 py-8 w-full">
                        <img src="{{image.imagem}}" alt="{{image.atl}}"
                            class="w-full h-48 object-cover rounded-t-lg mb-4">
                        <figcaption
                            class="text-lg text-center font-bold-200 py-2 text-white h-12 overflow-hidden truncate">
                            {{image.alt}}
                        </figcaption>
                    </figure>
                </a>
                {%endfor%}
    </section>
</main>
{%else%}
<section class="flex justify-center items-center p-2 w-full h-full">
    <form action="#" method="POST"
        class="flex flex-col justify-center items-center bg-gray-800 p-8 w-1/2 rounded-2xl">
        {% csrf_token %}
        <input name="query" id="input" type="text" class="w-full border text-center text-lg rounded-xl py-6 px-2 md: my-5 w-1/2"
            placeholder="Busque a sua foto">
        <button
            class="transition ease-in-out delay-150 text-black text-xl font-semibold bg-yellow-500 px-5 py-4 rounded-xl hover:bg-yellow-300">Buscar</button>
    </form>
</section>
{%endif%}
{%endblock content%}